html {
    background: #f4f4f4;
}

.btn-link {
    height: 36px;
    line-height: 36px;
    margin-right: 1ex;
}

.icon-btn {
    padding: 0;
    background: none;
    border: none;
}

.action-column {
    width: 0;
    white-space: nowrap;
}

nav .brand-logo {
    position: static;
    padding-right: 0.75rem;
}

@media only screen and (min-width: 601px) {
    .f-row {
        display: flex;
    }
}
.f-row {
    margin: 0 -0.75rem;
}

.f-row > * {
    flex: 1;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.btn.no-capitalize, .btn-flat.no-capitalize {
    text-transform: none;
}
