{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery.js' %}"></script>
        {% include 'material/includes/material_js.html' %}
        <link rel="stylesheet" href="{% static "style.css" %}">

        {% block head %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{settings.ORG_NAME}}</title>
    </head>
    <body>
        <div class="container">
        <div class="row">
        <nav>
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="/" class="brand-logo left">{{settings.ORG_NAME}}</a>
                    <ul id="nav-mobilee" class="right">
                        {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                        {% endif %}
                        {% if not user.is_anonymous %}
                        <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                        {% endif %}
                    </ul>
                    <ul class="left">
                        {% for item in menu_items %}
                        <li><a href="{% url item.1 %}">{{item.0}}</a></li>
                        {% endfor %}
                    <ul>
                </div>
            </div>
        </nav>
        </div>
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>
