{% if form.non_field_errors %}
<div class="form-errors red-text">
    {{form.non_field_errors}}
</div>
{% endif %}
{% for field in form %}
    <div class="input-field">
        {{field}}
        {{field.label_tag}}
        {{field.errors}}
    </div>
{% endfor %}
