{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="card">
    <div class="card-content">
    <div class="card-title">{% trans "Import payments" %}</div>
    {% trans "Paste a CSV file with the format: first_name,last_name,title,amount" %}
    <form action="" method="post">
    {% csrf_token %}
    <textarea name="data" style="height: 36em"></textarea>
    <button class="btn">{% trans "Submit" %}</button>
    </form>
    </div>
</div>
{% endblock %}
