{% extends 'base.html' %}
{% load material_form %}
{% load i18n %}

{% block content %}
<div class="f-row">
    <div class="card">
        <div class="card-content">
            <div class="card-title">{% trans "Your membership in ORG" %}</div>
            {% if user.is_member %}
                <p>{% blocktrans with date=user.member_since %}You are a member since {{date}}.{% endblocktrans %}</p>

                <div>
                {% blocktrans count unpaid_fees=unpaid_fees.count %}You have one unpaid fee.{% plural %}You have {{unpaid_fees}} unpaid fees.{% endblocktrans %}
                {% if unpaid_fees.count == 0 %}
                    {% trans "Congratulations!" %}
                {% else %}
                    <table>
                        <thead>
                            <tr><th>{% trans "Year" %}</th><th>{% trans "Value" %}</th><th></th></tr>
                        </thead>
                        <tbody>
                        {% for fee in unpaid_fees %}
                            <tr>
                                <td>{{fee.year}}</td>
                                <td>{{fee.value}} {{currency}}</td>
                                <td class="action-column">
                                    <a class="btn-flat waves-effect blue-text" href="{% url "pay" fee.id %}">{% trans "Pay" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
                {% if paid_fees.count > 0 %}
                {% blocktrans count paid_fees=paid_fees.count %}You have paid one fee so far.{% plural %}You have paid {{paid_fees}} fees so far.{% endblocktrans %}
                    <table>
                        <thead>
                            <tr><th>{% trans "Year" %}</th><th>{% trans "Value" %}</th></tr>
                        </thead>
                        <tbody>
                        {% for fee in paid_fees %}
                            <tr>
                                <td>{{fee.year}}</td>
                                <td>{{fee.paid}} {{currency}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% else %}
                {% trans "You are not currently a member." %}
            {% endif %}
        </div>
    </div>
    <div class="card">
        <form action="" method="post">
            <div class="card-content">
                <div class="card-title">{% trans "Your profile" %}</div>
                {% csrf_token %}
                {% form form=profile_form %}{% endform %}
            </div>
            <div class="card-action">
                <button type="submit" class="waves-effect waves-light btn blue right">{% trans "Change" %}</button>
                <div style="clear: both"></div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div class="card-title">{% trans "Authentication methods" %}</div>
        <div class="row">
            <div class="col m6 s12">
            <form action="" method="post">
                <p>{% if user.password == '' %}
                    {% trans "Set a password (you don't have one at the moment)" %}
                    {% else %}
                    {% trans "Change your password" %}
                    {% endif %}
                </p>
                {% csrf_token %}
                {% form form=password_form %}{% endform %}
                {% if user.password != '' and False %}
                <a class="waves-effect waves-light btn-link">{% trans "Disable password sign-in" %}</a>
                {% endif %}
                <button type="submit" class="waves-effect waves-light btn blue right">{% trans "Submit" %}</button>
            </form>
            </div>
            {% if google_auth_enabled %}
            <div class="col m6 s12">
                <p>{% trans "Your social sign-in methods" %}</p>
                <table>
                    {% for auth in backends.associated %}
                    <tr>
                        <th>{% trans auth.provider %}</th><td>{{ auth.uid }}</td><td class="action-column">
                        <form action="{% url "social:disconnect_individual" "google-oauth2" auth.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="icon-btn"><i class="material-icons">delete</i></button>
                        </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <p>{% trans "Add a new sign-in method" %}</p>
                <a class="btn" href="{% url "social:begin" "google-oauth2" %}">Google</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
