{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="card-panel">
<p>{% trans "In order to pay the membership fee, send a back transfer to the following account:" %}</p>
<pre>
{{transfer_data}}
</pre>
</div>
{% endblock %}
