{% extends 'base.html' %}
{% load material_form %}
{% load i18n %}

{% block content %}
<div class="card">
    <form action="" method="post">
        <div class="card-content">
            <div class="card-title">{% trans "Create account" %}</div>
            {% block description %}
            {% endblock %}
            {% csrf_token %}
            {% form %}{% endform %}
        </div>
        <div class="card-action">
            <button type="submit" class="waves-effect waves-light btn blue">{% trans "Submit" %}</button>
        </div>
    </form>
</div>
{% endblock %}
