{% extends 'base.html' %}
{% load material_form %}
{% load i18n %}

{% block content %}
<div class="card">
    <form action="" method="post">
        <div class="card-content">
            <div class="card-title">{% trans "Sign in" %}</div>
            <div class="row">
                <div class="col push-m6 m6 s12">
                {% if google_auth_enabled %}
                <p>{% trans "Sign in via social media" %}</p>
                    <a class="btn" href="{% url "social:begin" "google-oauth2" %}">Google</a>
                {% endif %}
                </div>
                <div class="col pull-m6 m6 s12">
                <p>{% trans "Sign in with username and password" %}</p>
                    {% csrf_token %}
                    {% form %}{% endform %}
                    <a class="btn-link" href="{% url "register" %}">{% trans "Create account" %} »</a>
                    <a class="btn-link" href="{% url "password_reset" %}">{% trans "Reset password" %} »</a>
                    <button type="submit" class="waves-effect waves-light btn blue right">{% trans "Submit" %}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
