{% extends 'admin/index.html' %}

{% block sidebar %}
    {{block.super}}
    {% comment "TODO: Export to payments" %}
    <form method="post" action="{% url "generate_payments" %}">
    {% csrf_token %}
    Generuj składki za rok: <input name="year" type="number" value="{% now "Y" %}" /> <button>Generuj</button>
    </form>
    <div><a href="{% url "import_payments" %}">Importuj płatności</a></div>
    {% endcomment %}
{% endblock %}
