{% django_extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ static("voting/style.css") }}">
{% endblock %}

{% block content %}
<div class="f-row">
    <div class="card">
        <div class="card-content">
            <div class="card-title">{{ _("Resolutions") }}</div>
                <table class="resolution-list">
                    <tbody>
                        {% for resolution in resolutions %}
                        <tr>
                            <td>{% if resolution.status == resolution.PENDING %}
                            ✷
                            {% elif resolution.status == resolution.VOTING %}
                            ☐
                            {% elif resolution.status == resolution.APPROVED %}
                            ☑
                            {% elif resolution.status == resolution.REJECTED %}
                            ☒
                            {% endif %}</td>
                            <td>{{resolution.title}}</td>
                            {% if resolution.type.committee in user.groups.all() %}
                            {% if resolution.status == resolution.VOTING %}
                            {% if resolution.id not in votes %}
                            <td><form method="post" action="{{ url("voting:vote_yea", resolution.id) }}">
                                {% csrf_token %}
                                <button class="btn green">{{ _("Yea") }}</button>
                            </form></td>
                            <td><form method="post" action="{{ url("voting:vote_nay", resolution.id) }}">
                                {% csrf_token %}
                                <button class="btn red">{{ _("Nay") }}</button>
                            </form></td>
                            <td><form method="post" action="{{ url("voting:vote_abstain", resolution.id) }}">
                                {% csrf_token %}
                                <button class="btn">{{ _("Abstain") }}</button>
                            </form></td>
                            {% else %}
                            <td>
                                {{ _("You voted " + votes[resolution.id]) }}
                            </td>
                            <td><form method="post" action="{{ url("voting:vote_rescind", resolution.id) }}">
                                {% csrf_token %}
                                <button class="btn-small btn-flat blue-text white no-capitalize">{{ _("Rescind vote") }}</button>
                            </form></td>
                            {% endif %}
                            <td><form method="post" action="{{ url("voting:end_vote", resolution.id) }}">
                                {% csrf_token %}
                                <button class="btn blue">{{ _("End vote") }}</button>
                            </form></td>
                            {% elif resolution.status == resolution.PENDING %}
                            <td><form method="post" action="{{ url("voting:start_vote", resolution.id) }}">
                                {% csrf_token %}
                                <button class="btn blue">{{ _("Start vote") }}</button>
                            </form></td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
